In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'http://rate.am/en/armenian-dram-exchange-rates/banks/non-cash'
browser.get(url)

In [2]:
prevdat=browser.find_element_by_css_selector('#aspnetForm > div.cnt > div.cnt-body > div.cnt-left > div.rb-de > div.archive > table > tbody > tr > td:nth-child(1) > a')
prevdat.click()

In [3]:
date_20=browser.find_element_by_css_selector('#calBorder > span > table > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(5) > td:nth-child(4)')
date_20.click()

In [4]:
submit=browser.find_element_by_css_selector('#ctl00_Content_RB_dtpick1_btnOk')
submit.click()

In [5]:
import pandas as pd
import csv
rates = pd.read_html(browser.find_element_by_class_name("rb").get_attribute('outerHTML'))
rates = rates[0]
data = rates[2:19]
del rates[0]
del rates[2]
del rates[3]

In [6]:
rates.columns = ["Bank Name", "Date", "USD/buy", "USD/sell", "EUR/buy", "EUR/sell", "RUB/buy", "RUB/sell", "GBP/buy", "GBP/sell"]
from unicodecsv import*
with open('rates_table.csv', 'w') as f:
            rates.to_csv(f, header=True, index=False, encoding='utf-8')
rates

,Bank Name,Date,USD/buy,USD/sell,EUR/buy,EUR/sell,RUB/buy,RUB/sell,GBP/buy,GBP/sell
0,Bank,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,NaN,NaN,NaN,NaN,NaN
1,Sell,Buy,Sell,Buy,Sell,NaN,NaN,NaN,NaN,NaN
2,Էյչ-Էս-Բի-Սի Բանկ,"20 Jul, 20:01",476.50,480.50,550,558.0,7.99,8.23,616.5,625.5
3,Յունիբանկ,"20 Jul, 20:00",476.50,480,546,556.0,8.00,8.25,612.0,632.0
4,ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ,"20 Jul, 20:00",477,480,547.10,554.1,8.02,8.24,617.1,629.1
5,Անելիք Բանկ,"20 Jul, 20:00",477,480.50,546,556.0,8.04,8.22,NaN,NaN
6,Արցախբանկ,"20 Jul, 20:00",477,480,547,555.0,7.99,8.20,614.0,629.0
7,Բիբլոս Բանկ Արմենիա,"20 Jul, 20:00",477,480.50,547,555.0,7.99,8.24,618.0,629.0
8,Ամերիաբանկ,"20 Jul, 20:00",476.50,480.50,551.50,559.5,7.97,8.22,616.5,626.5
9,ԱԿԲԱ-ԿՐԵԴԻՏ ԱԳՐԻԿՈԼ ..,"20 Jul, 20:00",477,480.50,546.50,554.0,8.05,8.18,612.0,627.0
10,ՎՏԲ-Հայաստան Բանկ,"20 Jul, 20:00",477.25,480,547,553.5,8.06,8.18,619.0,630.0
11,ՀԱՅԷԿՈՆՈՄԲԱՆԿ,"20 Jul, 20:00",477,480.50,547,555.0,8.06,8.23,611.0,630.0
12,Կոնվերս բանկ,"20 Jul, 20:00",476.50,480,547,555.0,8.02,8.21,619.0,627.0
13,Ինեկոբանկ,"20 Jul, 20:00",477.25,480.25,547,559.0,7.95,8.20,613.0,626.0
14,Մելլաթ բանկ,"20 Jul, 20:00",476,480,547,555.0,NaN,NaN,NaN,NaN
15,Արմսվիսբանկ,"20 Jul, 20:00",477,480,548,554.0,8.04,8.22,617.0,624.0
16,Արդշինբանկ,"20 Jul, 20:00",477.50,480.50,548,558.0,7.97,8.22,618.0,633.0
17,Պրոմեթեյ Բանկ,"20 Jul, 20:00",477,480,548,556.0,8.06,8.16,614.0,625.0
18,ԱՐԱՐԱՏԲԱՆԿ,"20 Jul, 20:00",477.50,480.50,543,561.0,8.04,8.25,610.0,633.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

browser.close()

In [8]:
#2

In [9]:
from selenium import webdriver
browser = webdriver.Chrome()
browser.get('https://staff.am/en')

In [10]:
element=browser.find_element_by_css_selector('#jobsearchform-type > label:nth-child(2) > input[type="radio"]')
element.click()
button=browser.find_element_by_css_selector('#w0 > div > div.col-lg-2.col-sm-2.search-btn > button')
button.click()

In [11]:
my_list=browser.find_elements_by_class_name("job-list-item")

In [12]:
import re
all_prices=[]
for i in my_list:
    price=re.findall('Price:\s+(.+\s*.+)',i.text)
    all_prices.append(price)

In [13]:
for i in range(len(all_prices)):
    all_prices[i]=all_prices[i][0]

In [14]:
page2=browser.find_element_by_css_selector('#job-list-pagination > ul > li:nth-child(3) > a')
page2.click()

In [15]:
new_list=browser.find_elements_by_class_name("job-list-item")
all_prices_2=[]
for i in new_list:
    price=re.findall('Price:\s+(.+\s*.+)',i.text)
    all_prices_2.append(price)
all_prices_2

[[u'FREE\ne-learning'], [u'FREE\ne-learning'], [u'FREE\ne-learning']]

In [16]:
for i in range(len(all_prices_2)):
    all_prices_2[i]=all_prices_2[i][0]

In [17]:
for i in all_prices_2:
    all_prices.append(i)
all_prices

[u'57500 AMD\ne-learning',
 u'FREE\ne-learning',
 u'84000 AMD\nTraining',
 u'48000 AMD\nTraining',
 u'50000 AMD\nTraining',
 u'69000 AMD\nTraining',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'73000 AMD\nTraining',
 u'52000 AMD\nTraining',
 u'96000 AMD\ne-learning',
 u'45000 AMD\nTraining',
 u'96000 AMD\ne-learning',
 u'125000 AMD\nTraining',
 u'4800 AMD\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning']

In [19]:
# i am excluding all free trainings to get the precise average value for paid training
digits=str(all_prices)
x=re.sub(r',', r'',digits)
y=re.findall('([0-9]+)',x)

print(y)

['57500', '84000', '48000', '50000', '69000', '73000', '52000', '96000', '45000', '96000', '125000', '4800']

In [20]:
x=[]
for i in y:
    x.append(int(i))
x

[57500,
 84000,
 48000,
 50000,
 69000,
 73000,
 52000,
 96000,
 45000,
 96000,
 125000,
 4800]

In [21]:
average=sum(x)/len(x)
average

66691

In [22]:
#3